{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'vista_contacto/estilo.css' %}">

    <title>Examen DW-2018</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <div class="logotipo-titulo">
          <picture class="logotipo-unab">
            <img src="{% static 'image/logo-unab.png' %}">
          </picture>
          <div class="titulo-unab"">Universidad<br>Andrés Bello</div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="col-12-sm-12-md-12-lg-12-xl-12 imagen-fondo">
        <img src="{% static 'image/imagen-prueba.png' %}" width="1400" height="200" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-12-sm-12-md-12-lg-12-xl-12 titulo-contacto">
        <span class="Contacto-span">Contacto</span>
        <span class="ICINF-span">ICINF</span>
      </div>
      <div class="table-responsive-sm tabla-contacto">
        <table class="table">
          {% if object_list %}
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Telefono</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for contacto in object_list %}
            <tr>
              <th scope="row">{{ contacto.pk }}</th>
              <td><a href="{% url 'contacto.detail' contacto.pk %}">{{ contacto.nombre }}</a></td>
              <td>{{ contacto.apellido }}</td>
              <td>{{ contacto.telefono }}</td>
              <td><a class="btn btn-primary" href="{% url 'contacto.detail' contacto.pk %}">>Ver detalles</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <h1>No hay registros</h1>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <footer class="bg-dark text-white">
      <p>Desarrollo Web 2018</p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>